.header {
    background-color: #000;
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.ulListaHeader {
    display: flex;
}

.lista {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
}

.lista:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btnDowload {
    background: none;
    background-color: orange;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    appearance: none;
    border-radius: 10px;
    /* Remove estilos nativos do sistema operacional */
}