.header {
    background-color: #000;
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-left: 15rem;
}

.ulListaHeader {
    display: flex;
    padding-left: 5rem;
    font-size: 20px;
    gap: 20px;
}

.lista {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    transform: translate(0px, 10px);
}

.lista:hover {
    text-decoration: underline;
    cursor: pointer;
}

.movimentacao {
    transform: translate(900px, 0px);
}

.btnDowload {
    background: none;
    background-color: orange;
    border: none;
    padding: 20px;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    appearance: none;
    border-radius: 10px;
    /* Remove estilos nativos do sistema operacional */
    font-weight: bold;
}