.header {
    background-color: #000;
    display: flex;
}

.ulListaHeader {
    display: flex;
}

.lista {
    color: #fff;
}

.btnDowload {
    background: none;
    background-color: yellow;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    appearance: none;
    /* Remove estilos nativos do sistema operacional */
}