.homePrinciapl {
    background-image: url("../img/imgGTA.png");

    /* Aqui você define a altura que desejar */
    height: 1000px;

    width: 100%;
    /* Garante que a largura ocupe todo o espaço disponível */

    /* O PULO DO GATO: */
    background-size: cover;
    /* Faz a imagem preencher 100% da div sem distorcer */

    /* Centraliza os personagens no meio da div */
    background-repeat: no-repeat;
    /* Evita que a imagem duplique */
}