.jogosEmDestaque {
    height: 600px;
}

.tituloPrinciapl {
    color: #fff;
    padding-top: 5rem;
    padding-left: 20rem;
}

.flexbox {
    display: flex;
    padding-left: 30rem;
    padding-top: 1rem;
    gap: 200px;
}

.flexbox img {
    width: 250px;
}


.verTodosOsJogos {
    background: none;
    background-color: orange;
    border: none;
    padding: 20px;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    appearance: none;
    border-radius: 10px;
    /* Remove estilos nativos do sistema operacional */
    font-weight: bold;
}

.movimentacaoBotao {
    padding-left: 74rem;
}