.jogosEmDestaque {
    height: 500px;
}

.tituloPrinciapl {
    color: #fff;
    padding-top: 5rem;
    padding-left: 20rem;
}

.flexbox {
    display: flex;
    padding-left: 30rem;
    padding-top: 1rem;
    gap: 50px;
}