.ultimasNoticiasConteudo {
    background-color: #252525;
    height: 600px;
}

.ultimaNoticia {
    color: #fff;
    padding-top: 5rem;
    padding-left: 20rem;
}

.imggta {
    padding-left: 10rem;
}